body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;

  --navyblue: #2e2f42;
  --white: #ffffff;
  --iris: #4d5ae5;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;

  color: var(--navyblue);
}

.logo {
  color: var(--iris);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.167; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.logo-span {
  color: var(--navyblue);
}

a {
  text-decoration: none;
  font-weight: 500;
  color: var(--navyblue);
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.32px;
  font-size: 16px;
}

header a:hover,
a:focus {
  color: var(--iris);
}

button {
  font-family: inherit;
  cursor: pointer;
}

header {
  border-bottom: 1px solid var(--cornflower);
  background: var(--white);
}

ul,
header {
  list-style-type: none;
}

/* buttons */
button {
  font-family: inherit;
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: var(--white);
  color: var(--iris);
}

/* headings */
h1,
h2,
.our-team-section p,
.our-team-section h3 {
  text-align: center;
}

/* our team section */
.our-team-section {
  background-color: var(--cloud);
}

/* Start Hero Section */
.hero-section {
  background-color: var(--navyblue);
  color: var(--white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 184px;
  padding-top: 184px;
  gap: 48px;
}

.hero-section h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07143; /* 107.143% */
  letter-spacing: 1.12px;
  margin: 0;
  padding: 0;
}

.hero-section button {
  color: var(--white);
  background-color: var(--iris);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: 0;
  width: 169px;
  height: 56px;
}
/* end Hero Section */


/* start all sections in index html */
.feature-section,
.values-section,
.our-team-section {
  margin: 20px;
  padding: 20px;
}

.feature-section ul,
.values-section ul,
.our-team-section ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.feature-section ul li,
.values-section ul li,
.our-team-section ul li {
  margin: 24px;
}

.our-team-section li {
  border-radius: 0px 0px 4px 4px;
  background: var(--white);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
/* end all sections in index html */

/* start button css for porfolio */
.portfolio-section ul > li > button {
  border-radius: 0px;
  border: 0px solid var(--cornflower);
  background: var(--cloud);
  padding: 12px 24px;
  color: var(--iris);
  border-radius: 4px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.portfolio-section ul > li > button:hover,
.portfolio-section ul > li > button:focus {
  background-color: var(--iris);
  color: var(--white);
}

.filter-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.portfolio-section .portfolio-section-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.portfolio-section-container li {
  margin-bottom: 20px;
  border: 1px solid var(--cornflower);
  background: var(--white);
  box-sizing: border-box;
}

.portfolio-section-container li > h3,
.portfolio-section-container li > p {
  margin-left: 16px;
}
/* end of button css for porfolio */

footer .logo-span {
  color: var(--white);
}

footer {
  background-color: var(--navyblue);
  color: var(--white);
}

/*start flex implementation for nav bar */
.nav-bar,
.container,
.address-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-menu {
  list-style: none;
  display: flex;
}

.nav-menu-links,
.address-links {
  margin: 0 15px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 312px;
}

.footer-container {
  margin: 156px;
}
/* end flex implementation for nav bar */